/*Mandy*/
    body.climate-change {
        background-image: url("earth1.jpg");
    }

    body.howtoprevent {
        background-image: url("prevent.jpg");
    }

    a.mainpgbuttons{
      text-decoration: none;
      color: white;
    }

    h1 {
        color: #cccccc;
        text-align: center;
    }

    p1 {
        font-family: verdana;
        font-size: 20px;
        color: #cccccc
    }

    p2 {
        font-family: verdana;
        font-size: 20px;
        color: #cccccc
    }

    p3 {
        font-family: verdana;
        font-size: 20px;
        color: #cccccc
    }

    p4 {
        font-family: verdana;
        font-size: 20px;
        color: #808080;
    }

    p5 {
        font-family: verdana;
        font-size: 22px;
        color: #cccccc;
    }

    p6 {
        font-family: verdana;
        font-size: 20px;
        color: #808080;
    }

    p7 {
        font-family: verdana;
        font-size: 22px;
        color: #cccccc;
    }

    p8 {
        font-family: verdana;
        font-size: 20px;
        color: #808080;
    }

    p9 {
        font-family: verdana;
        font-size: 22px;
        color: #cccccc;
    }

    p10 {
        font-family: verdana;
        font-size: 20px;
        color: #808080;
    }

    p11 {
        font-family: verdana;
        font-size: 22px;
        color: #cccccc;
    }

    p12 {
        font-family: verdana;
        font-size: 20px;
        color: #808080;
    }

    p13 {
        font-family: verdana;
        font-size: 22px;
        color: #cccccc;
    }

    p14 {
        font-family: verdana;
        font-size: 20px;
        color: #808080;
    }

    p15 {
        font-family: verdana;
        font-size: 22px;
        color: #cccccc;
    }

    p16 {
        font-family: verdana;
        font-size: 20px;
        color: #808080;
    }

    p17 {
        font-family: verdana;
        font-size: 22px;
        color: #cccccc;
    }

    p18 {
        font-family: verdana;
        font-size: 20px;
        color: #808080;
    }

    p19 {
        font-family: verdana;
        font-size: 22px;
        color: #cccccc;
    }

    p20 {
        font-family: verdana;
        font-size: 20px;
        color: #808080;
    }


    body {
      margin:0;
    }

    h3{
      color: #cccccc;
      text-align: center;
      font-size: 25px;
    }

    article{
      padding: 30px;
    }

    ul.Menu {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:   #bfbfbf;
        font-family: "Comic Sans MS", cursive, sans-serif;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color:  #a6a6a6;
      }

      button.Gamebutton {
        background-color:#1ad1ff;
        color: white;
        border: none;
        font-size: 15px;
        border-radius: 50%;
        padding: 20px;
        width:200px;
        box-shadow: 0 9px #999;
      }
      button.Gamebutton:hover {
        background-color: #008fb3
      }

      button.Gamebutton:active {
        background-color: #008fb3;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

    .button-container {
      text-align: center;
    }

/*Jocelyn 8-1*/

    body.gamepage{
      background-color: #00ff99;
    }

    .container{
      margin: 30px;
    }

    body.gamepage button{
      color: white;
      border: none;
      font-size: 20px;
      border-radius: 50%;
      padding: 32px;
      width:200px;
      box-shadow: 0 9px #999;
    }

    #choiceA{
      background-color: blue;
    }

    #choiceB{
      background-color: purple;
    }

    button:hover {
      background-color: #000099;
    }

    button:active {
      background-color: #000099;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
      }

    #storypic {
        display: inline-block;
        float: right;
        width: 400px;
        height: 400px;
        overflow: auto;
        align-self: auto;
    }

    .storytext{
      display: inline-block;
      float: left;
      width: 400px;
      height: 340px;
      overflow: scroll;
      align-self: auto;
      background-color: white;
    }

    .storysel{
      align-self: center;
      display: inline-block;
      float: inline-end;
      padding: 30px;
      padding-top: 60px;
      width: 800px;
      height: 200px;
    }
